snippet blst "Source Listing" bA
\begin{lstlisting}[language=$1${2:,caption={$3}}]
	$0
\end{lstlisting}
endsnippet

snippet ilst "Input Listing" bA
\lstinputlisting[language=$1${2:,caption={$3}}]{$4}
endsnippet

